.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.dark-mode {
  background-color: var(--dark-background);
  color: var(--text-color-dark);
  transition: 0s;
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}