.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  display: flex;
}

.greeting-main>* {
  flex: 1;
  margin-bottom: 30px;
}

.empty-div {
  margin-bottom: 40px;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}

.button-CV-div {
  display: flex;
  margin-top: 10px;
}

.download-link-button {
  text-decoration: none;
}

.greeting-text {
  font-size: 60px;
  line-height: 1.1;
  color: var(--text-color);
}

.greeting-text-p {
  font-size: 24px;
  line-height: 40px;
}

.greeting-text-div {
  display: flex;
  max-width: 60%;
}

.greeting-image-div>img {
  max-width: 100%;
  height: auto;
}

.greeting-image-div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/* Media Query */
@media (max-width: 1580px) {
  .greeting-text {
    font-size: 45px;
  }

  .greeting-text-p {
    font-size: 20px;
  }
}


@media (max-width: 1380px) {
  .greeting-text {
    font-size: 40px;
  }

  .greeting-text-p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .greeting-text {
    font-size: 35px;
  }

  .greeting-text-p {
    font-size: 17px;
    max-width: 70%;
  }

  .greeting-text-div {
    display: flex;
    max-width: 50%;
  }

}

@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }

  .greeting-text {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    max-width: 100%;
  }

  .greeting-text-div {
    display: flex;
    max-width: 100%;
  }

  .greeting-main {
    display: block;
  }

  .greeting-image-div {
    height: 456px;
  }
}

@media (max-width: 587px) {
  .greeting-main .button-greeting-div {
    display: grid;
  }

  .greeting-image-div {
    height: 256px;
  }
}

@media (max-width: 320px) {
  .greeting-main .button-greeting-div {
    display: grid;
  }

  .greeting-image-div {
    height: 186px;
  }
}